body {
	background-color: #1565c0;
	color: white;
}

.about {
	height: 100vh
}

.info {
	border-bottom: 1px solid white;
}

button {
	margin-right: 5px;
	margin-bottom: 15px;
}

.projectsText {
	font-size: 5vh
}

.project {
	margin: 0;
}