/*

p {
	background-color: white;
	color: black;
	padding: 30px;
}

.container {
	color: white;
}

.content {
	height: 90vh;
	background-color: #272221;
}

.sideButton {
	width: 15%;
	height: 50px;
	background-color: ghostwhite;
	border: none;
	margin: 0 auto;
}

.solitaire, .fuel, .sudoku, .mario, .about {
	margin: 5%;
}

.aboutPic {
	width: 20%;
	height: 50%;
	border-radius: 100%;
	padding: 50px;
}

.links {
	display: flex;
	justify-content: center;
}

img {
	width: 100%;
}

.contentButton {
	width: 100%;
	background-color: ghostwhite;
	border: none;
	margin: 5px;
}

.link {
	border-bottom: 1px solid white;
}*/

body {
	background-color: #1565c0;
	color: white;
}

.about {
	height: 100vh
}

.info {
	border-bottom: 1px solid white;
}

button {
	margin-right: 5px;
	margin-bottom: 15px;
}

.projectsText {
	font-size: 5vh
}

.project {
	margin: 0;
}